.container {
    padding-top: 5vh;
    z-index: 1;
    display: flex;
    justify-content: center;

    .recipeCard {
        padding-top: 2vh;
        background-color: #FFF3B0;
        border-radius: 10px;
        min-height: 35vh;
        width: 90vw;
        position: relative;
        text-align: center;

        .head-recipe {
            background-color: #FFF3B0;
            .recipeTitle {
                position: absolute;
                top: 1vh;
                left: 50%;
                transform: translateX(-50%);
                background-color: #FFF3B0;
                text-align: center;
                color: #E09F3E;
                

            }
            button {
                position: absolute;
                top: 1.7vh;
                right: 6vw;
                background-color: #FFF3B0;
                border: none;
                i {
                    background-color: #FFF3B0;
                    color: #E09F3E;
                    font-size: 1rem;

                }

            }
        }

        
            .recipeImage {
                position: relative;
                top: 3vh;
                width: 19rem;
                border-radius: 10px;
            }

        

    }


}